<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/StaticFiles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>Home | My Photo Album</title>
</head>

<body>

    <header class="header">
        <div class="d-flex left-section">
            <img id="logo" src="~/StaticFiles/img/pp.jpg" alt="Taha Akçin">
            <section>
                <p class="name">Muhammet Taha Akçin</p>
                <p class="title">Junior Web Developer</p>
            </section>
        </div>
        <nav>
            <a href="~/">Home</a>
            <a href="~/Home/Contact"> Contact</a>
            <a href="~/Home/About"> About Me</a>
        </nav>
    </header>

    <div class="photo-album-intro">
        <h1 class="head">Welcome To My Photo Album!</h1>
        <p class="intro-text">I'm very happy to show you these photos, each of which is special to me!</p>
        <div class="d-flex buttons">
            <a target="_blank" class="link-button" href="https://github.com/tahakcin">
                <svg class="logo-svg"
                     stroke="currentColor" fill="gray" stroke-width="0" viewBox="0 0 24 24" height="30" width="30"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M11.9989871,1 C5.92550416,1 1,5.92482888 1,12.0003376 C1,16.8603395 4.15153934,20.9829338 8.52263728,22.4374904 C9.0729918,22.5387827 9.27355045,22.199116 9.27355045,21.9073943 C9.27355045,21.6467356 9.2640965,20.954572 9.25869425,20.0368642 C6.19899322,20.7013414 5.55342398,18.5620492 5.55342398,18.5620492 C5.0530403,17.2911692 4.33183953,16.9528531 4.33183953,16.9528531 C3.33309801,16.2708186 4.40747107,16.2843243 4.40747107,16.2843243 C5.51155652,16.3619816 6.09229872,17.4181221 6.09229872,17.4181221 C7.07348292,19.0988981 8.66714755,18.6133706 9.2938089,18.3317781 C9.39375058,17.6213819 9.67804414,17.1365297 9.99205009,16.86169 C7.54955646,16.5841493 4.98146045,15.6401056 4.98146045,11.4249977 C4.98146045,10.224347 5.41026428,9.24181221 6.11390773,8.47334172 C6.00046042,8.19512569 5.62297799,7.07618404 6.22195279,5.56220265 C6.22195279,5.56220265 7.14506277,5.26642929 9.24653918,6.68992296 C10.12373,6.44547101 11.0650726,6.32392032 12.0003376,6.31919335 C12.9349274,6.32392032 13.8755947,6.44547101 14.7541361,6.68992296 C16.8542619,5.26642929 17.7760214,5.56220265 17.7760214,5.56220265 C18.3763467,7.07618404 17.9988643,8.19512569 17.8860923,8.47334172 C18.5910863,9.24181221 19.0165137,10.224347 19.0165137,11.4249977 C19.0165137,15.6509101 16.444366,16.5807729 13.9944443,16.8529114 C14.3888087,17.192578 14.7406305,17.863808 14.7406305,18.890236 C14.7406305,20.3603241 14.7271248,21.5467939 14.7271248,21.9073943 C14.7271248,22.2018171 14.9256576,22.5441849 15.4834403,22.4368151 C19.8511618,20.9788821 23,16.8589889 23,12.0003376 C23,5.92482888 18.0744958,1 11.9989871,1">
                    </path>
                </svg>
            </a>
            <a target="_blank" class="link-button" href="https://www.linkedin.com/in/thakcin/">
                <svg class="logo-svg"
                     xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" fill="gray" height="30" width="30"
                     viewBox="0 0 48 48">
                    <path d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5V37z">
                    </path>
                    <path fill="#000"
                          d="M12 19H17V36H12zM14.485 17h-.028C12.965 17 12 15.888 12 14.499 12 13.08 12.995 12 14.514 12c1.521 0 2.458 1.08 2.486 2.499C17 15.887 16.035 17 14.485 17zM36 36h-5v-9.099c0-2.198-1.225-3.698-3.192-3.698-1.501 0-2.313 1.012-2.707 1.99C24.957 25.543 25 26.511 25 27v9h-5V19h5v2.616C25.721 20.5 26.85 19 29.738 19c3.578 0 6.261 2.25 6.261 7.274L36 36 36 36z">
                    </path>
                </svg>
            </a>
        </div>
    </div>





    <div class="img-card d-grid">
        <p class="p-sticky img-date">30 May 2024, Thrs</p>
        <img class="image" id="Art" src="~/StaticFiles/img/Art.jpg" alt="Canvas">
        <p class="description">
            I took this photo during the art exhibition at my university. Impressive, right? It
            reminds me of Russian Literature.
        </p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">12 June 2024, Wed</p>
        <img class="image" id="Cat" src="~/StaticFiles/img/Cat.jpg" alt="Cat">
        <p class="description">
            I took this cat's photo in the morning when come from mosque. Very cute, right? They're
            my favourite animals.
        </p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">20 January 2024, Str</p>
        <img class="image" id="Cat2" src="~/StaticFiles/img/Cat2.jpg" alt="Cat">
        <p class="description">This is the cat of my dorm. He is like me when I'm overthinking 😂</p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">18 May 2024, Str</p>
        <img class="image" id="Cup" src="~/StaticFiles/img/Green tea.jpg" alt="Thermos cup">
        <p class="description">Words cannot describe the serenity at that night.</p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">21 June 2024, Sun</p>
        <img class="image" id="Flower" src="~/StaticFiles/img/Nature.jpg" alt="Flower">
        <p class="description">
            I took this photo of the flower at a park in Konya. I wish I could have taken a better
            photo.
        </p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">21 June 2024, Sun</p>
        <img class="image" id="Rose" src="~/StaticFiles/img/Nature2.jpg" alt="Rose">
        <p class="description">I took another photo at that park. There were many beautiful flowers in the park.</p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">10 June 2024, Mon</p>
        <img class="image" id="Sun" src="~/StaticFiles/img/Nature3.jpg" alt="Sun">
        <p class="description">Very beautiful,right? Who knew a photo of this pine could be so aesthetic! </p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">12 December 2023, Ths</p>
        <img class="image" id="Palestine" src="~/StaticFiles/img/Palestine.jpg" alt="Palestine">
        <p class="description">The one of the activities my university. Free Palestine, guys.</p>
    </div>
    <div class="img-card d-grid">
        <p class="p-sticky img-date">10 June 2024, Mon</p>
        <img class="image" id="Sunrise" src="~/StaticFiles/img/Sunrise.jpg" alt="Sunrise">
        <p class="description">
            My friend has taken a photo of me at the overpass in Burdur. I can't forget that day.
            It's impossisble.
        </p>
    </div>
</body>

</html>